#circle {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background-color: #C7EDEE;
	border: 3px solid #619AAD;
	position: absolute;
	top: 275px;
	left: 50px;
	animation-name: light_scale;
	animation-duration: 2s;
	animation-fill-mode: forwards;
	opacity: 0.8;
}
#hero {
	position: absolute;
	top: 144px;
	left: 2px;
	animation-name: moveout;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

#social_links {
	position: absolute;
	top: 572px;
	left: 121px;
	animation-name: social_btn;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	opacity: 0;
}


#msg {
	position: absolute;
	top: 484px;
	left: 67px;
	animation-name: msg;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	opacity: 0;
}


#main_text {
	position: absolute;
	top: 30px;
	left: 0px;
	animation-name: main_text;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
	animation-delay: 1s;
	opacity: 0;
}

#logo {
	position: absolute;
	top: 509px;
	left: 133px;
	animation-name: logo;
	animation-duration: 1s;
	animation-delay: 1.5s;
	animation-fill-mode: forwards;
	opacity: 0;
}

#banner {
	position:relative;
	left: 0px;
}

#replay {
	position: absolute;
	left: 280px;
	top: 580px;
	width: 20px;
	height: auto;
}
.social_icon {
	margin: 4px;
}

.link:hover {
	opacity: 0.5;

}
a:-webkit-any-link{
text-decoration:none !important;
}


/* ANIMATIONS */
@keyframes social_btn {
	from {opacity: 0; top: 672px;}
	to {opacity: 1;}
}

@keyframes msg {
	from {opacity: 0; top: 584px;}
	to {opacity: 1;}
}

@keyframes main_text {
	from {opacity: 0; top: -130px;}
	to {opacity: 1;}
}

@keyframes logo {
	from {opacity: 0;}
	to {opacity: 1;}
}
@keyframes moveout {
	from{transform: scale(0.75);}
	to{transform:scale(1);}
}

@keyframes light_scale {
	from{transform: scale(20);}
	to{opacity: 0;}
}

